@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

*{
    margin:0;
}

body{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: rgb(247, 247, 247);
    font-weight: 400;

}

.titulo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    font-weight: 800;
    background-image: url(https://user-images.githubusercontent.com/19292210/60553863-044dd200-9cea-11e9-987e-7db84449f215.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 20vw;
}

.icone {
    display: inline-flex;
    gap: 10px;
}

.Operational {
    border-radius: 100%;
    padding: 1% 2%;
    background-color: #07ad01;
    color: white;
    border: 1px solid black
}

.ajustaLinha{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

.noOperational{
    border-radius: 100%;
    padding: 1% 2%;
    background-color: #ad0101;
    color: white;
    border: 1px solid black
}

.caixaPrincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin:2vw auto 5vw auto;
    
}

.caixaSecundaria {
    box-sizing: border-box;
    padding: 2rem;
    margin: 0.5px;
    border: 1px solid black;
    background-color: rgb(250, 250, 250);
    width: calc((100% / 2) - 2rem);
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.2);
}

.rodape {
    background-color: rgb(24, 24, 26);
    border-radius: 0.1vw;
    padding: .5vw 0;
}

.rodape__links{
    display: flex;
    justify-content: center;
    gap: 0.5vw;
}

.rodape__texto{
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}